.navbar{ 
    background-color: rgb(209, 29, 20);

}

.navbar-brand{
    font-weight: bold;
    color: white !important;
}

.logonavbar{
    margin-right: 20px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    color: rgba(180, 50, 50, 0.941);
}

h2 span{
    font-weight: bolder;
}

.card{
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(21, 101, 5, 0.5);
    scale: 1.1;
}